/*Font*/

.nav-link.h5 {
  font-family: 'Caveat', sans-serif;
  font-size: 24px;
}

.Text-1 {
  font-family: 'Caveat', cursive;
  color: #59BBDF;
}

.bold-text-1 {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 700;
}


/*before site*/

.highlighted-text {
  color: #29BE97;
}

.Text-gray {
  color: #CFCFCF;
  font-size: 14px
}

.Text-gray2 {
  color: #6D727B;
  font-size: 14px
}

a {
  text-decoration: none;
  color: #CFCFCF;
  transition: color 0.3s;
}

a:hover {
  color: #29BE97;
}

/*Lines*/

.topline {
  border-top: 1px solid #DDDDDD;
  margin-left: 5px;
  margin-right: 5px;
}

.line {
  border-top: 1px solid #2E3440;
  margin-top: 20px;
  margin-bottom: 20px;
}

.line2 {
  border-top: 1px solid #DDDDDD;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

/*margin left/right*/

.fl-left {
  float: left !important;
}

.fl-right {
  float: right !important;
}

/*top-social-bar / top-widget-bar*/

.top-social-bar {
  display: flex;
  padding: 10px;
}

.top-widget-bar {
  display: flex;
  padding: 10px;
}

.top2-navbar {
  display: flex;
  padding: 0px;
}

.top2-logo {
  display: flex;
  margin-top: 10px;
}

.top2-navbar .nav-link {
  color: black;
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
}

.top2-navbar .nav-link:hover {
  color: #29BE97;
  border-bottom: 2px solid #29BE97;
}

/*Dropdown*/

#dropdownMenu {
  display: none;
  opacity: 0;
  transform: translateY(-10px);
  position: absolute;
  z-index: 1;
  background-color: white;
  transition: opacity 0.3s, transform 0.3s, height 0.3s;
  height: 0;
  overflow: hidden;
}

.nav-item:hover #dropdownMenu {
  display: block;
  opacity: 1;
  transform: translateY(0);
  height: auto;
}

#dropdownMenu a {
  color: black;
}

#dropdownMenu a:hover {
  color: #29BE97;
  transition: color 0.3s;
}

/*social-icons*/

.ul-icon-social {
  width: 16px;
}

/*ul-left-top-bar*/

.ul-text-dec {
  color: #111;
  text-decoration: none;
}

/*margin-right*/

.m-right1 {
  margin-right: 1px;
}

.m-right2 {
  margin-right: 2px;
}

.m-right3 {
  margin-right: 3px;
}

.m-right4 {
  margin-right: 4px;
}

.m-right5 {
  margin-right: 5px;
}

.m-right10 {
  margin-right: 10px;
}

.m-right50 {
  margin-right: 50px;
}

.m-right130 {
  margin-right: 130px;
}

/* Carousele style */

.carousel {
  width: 100%;
  overflow: hidden;
}

.carousel-inner img {
  width: 100%;
  height: 62vh;
  object-fit: cover;
}

/* Collapse Card */

.card-text {
  opacity: 0;
  transition: opacity 0.3s;
}

.card:hover .card-text {
  opacity: 1;
}

.bg {
  width: 210px;
  height: 262.5px;
  object-fit: fill;
}

/* button */

.custom-btn {
  background-color: transparent;
  transition: color 0.3s;
}

.custom-btn:hover {
  color: #31AAD6;
}

.custom-btn-outline-success {
  --bs-btn-color: #7A7E87;
  --bs-btn-border-color: #cfcfcf;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-border-color: green;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #31AAD6;
  --bs-btn-active-border-color: #198754;
  --bs-btn-disabled-color: #198754;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #198754;
  --bs-gradient: none;
}

.notification {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff; 
  color: #000; 
  border-radius: 50%;
  width: 50px;
  height: 50px; 
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.notification::after {
  min-width: 20px;
  height: 20px;
  content: attr(data-count);
  background-color: #ed657d;
  font-family: monospace;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px;
  transition: 0.3s;
  opacity: 0;
  transform: scale(0.5);
  will-change: opacity, transform;
}

.notification-content {
  display: none;
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.notification.show-count .notification-content {
  display: block;
}

.notification.show-count::after {
  opacity: 1;
  transform: scale(1);
}

.notification::before {
  content: "\f0f3";
  font-family: "FontAwesome";
  display: block;
  color: #000; /* Изменено на черный цвет */
}

.notification.notify::before {
  animation: bell 1s ease-out;
  transform-origin: center top;
}

@keyframes bell {
  0% {transform: rotate(35deg);}
  12.5% {transform: rotate(-30deg);}
  25% {transform: rotate(25deg);}
  37.5% {transform: rotate(-20deg);}
  50% {transform: rotate(15deg);}
  62.5% {transform: rotate(-10deg)}
  75% {transform: rotate(5deg)}
  100% {transform: rotate(0);}  
}

.card-container2 {
  display: flex;
  justify-content: center;
}

.card2 {

  margin: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  overflow: hidden;
  transition: transform 0.3s;
}

.card2:hover {
  transform: scale(1.05);
}

.card2.active {
  transform: translateY(0);
  opacity: 1;
}