@font-face {
    font-family: Fontspring-DEMO-biennale-boldit;
    src: url(font/Fontspring-DEMO-biennale-boldit.OTF);
   }

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
    .bold {
        font-weight: 1;
}
  
  .topnav {
    display: flex;
    overflow: hidden;
    align-items: center;
    background-color: white;
    padding: 8px 0px;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 100;
  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 0px 12px;
    text-decoration: none;
    font-size: 17px;
  }

  .logo {
    width: 200px;
    height: 50px;
}

    .linklogo {
        width: 30px;
        height: 30px;
        margin-right: -950px;
        margin-left: 950px;
        padding: 0px 3px;
}

    .topText {
        font-family: Fontspring-DEMO-biennale-boldit;
        color: white;
        position: absolute;
        font-size: 70px;
        left: 15%;
        top: 22%;
    }
    
    .topText2 {
        font-family: sans-serif;
        color: rgb(252, 242, 242);
        position: absolute;
        font-size: 22px;
        left: 15%;
        top: 21%;
    }

    .imgTop {
    width: 100%;
    height: 570px;
    object-fit: cover;
    filter: brightness(0.75);
}

.divider {
  border: none;
  height: 2px;
  width: 750px;
  background-color: #3498db;
  margin-left: 450px;
}

.img {
  width: 400px;
  height: 400px;
  margin-top: 50px;
  margin-left: 100px;
  border-radius: 15px;
}

.contact-container {
    background-color: rgb(40, 37, 37);
    color: white;
    padding: 20px;
}

    .container {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 15%;
    top: 40%;
  }
  
  .btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
  }
  
  svg {
    position: absolute;
  }
  
  .btn:hover {
    transition: 1s ease-in-out;
    background: #9eb1c4;
  }
  
  .btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }

h2.title{
    font-size: 1em; 
    color: #5a5a5a; 
    text-align: center; 
}

h2.title:after {
    content: '';
    display: block;
    height: 1px; 
    background: #f66d52; 
    width: 150px; 
    margin: 10px auto 0; 
	transition: 1s; 
}